<div class="flex items-start justify-center gap-4 mt-8">
  <div class="flex items-center justify-center" >
    <p-card header="Users" class="w-[21rem] cursor-pointer" [routerLink]="['/','user']" >
      <p class="mb-2 font-bold">Manage USERS</p>

      <p class="">Search and edit USERS</p>
    </p-card>
  </div>

  <div class="flex items-center justify-center" >
    <p-card header="Users" class="w-[21rem] cursor-pointer" [routerLink]="['/','todo']" >
      <p class="mb-2 font-bold">Manage TODO</p>

      <p class="">Search and edit TODO</p>
    </p-card>
  </div>


</div>
