<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <app-amount-cva
      formControlName="amount"
      label="Montant"
      prefix="CHF "
      [debug]="true"
    ></app-amount-cva>
  </div>
  <div>
    <app-amount-cva
      formControlName="amount2"
      label="Montant 2"
      prefix="CHF "
      [debug]="true"
    ></app-amount-cva>
  </div>

  <div class="mt-3 flex gap-2">
    <button pButton type="submit" label="Submit"></button>
    <button pButton type="button" (click)="reset()" label="Reset"></button>
    <button pButton type="button" (click)="touchAmount()" >Touch amount</button>
  </div>

  <pre>{{ form.value | json }}</pre>
</form>
